# Node-related files
**/node_modules

# Version control and CI-related files
.git
.github
.husky

# Docker-related files
.dockerignore

# Configuration and local-only files
.gitignore
.prettierignore
.prettierrc

# Documentation
*.md

# Logs and temporary files
*.log

# Build outputs (if any)
dist/
build/
.cache/
