public
build
dist

# Ignore JavaScript and TypeScript files
*.js
*.jsx
*.ts
*.tsx

.env
.env.prod
.env.testing

.eslintrc.json
.eslintcache

.gitignore
.prettierignore
.prettierrc

yarn.lock
yarn-error.log

*.md